body {
    text-align: center;
    font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #dfffd0; */
}

div {
    margin: 20px 0px;
    background: white;
}

img {
    padding: 20px;
}

.empty {
    width: 160px;
    height: 11px;
    border-radius: 11px;
    margin: auto;
    background: #f1f1f1;
}

.water {
    width: 100%;
    height: 11px;
    border-radius: 11px;
    background: #bfe5ff;
}

.love {
    width: 100%;
    height: 11px;
    border-radius: 11px;
    background: #fac9e7;
}

.light {
    width: 100%;
    height: 11px;
    border-radius: 11px;
    background: #f8d975;
}

.fail {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.95);
    /* box-shadow: inset 0px 0px 0px 5px #aada93; */
    z-index: 2;
}

.hide {
    display: none;
}
  
.vertical-center {
    max-width: 50%;
}
  