body {
    text-align: center;
    font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #dfffd0; */
}

div {
    margin: 20px 0px;
    background: white;
}

img {
    padding: 20px;
}

.empty {
    width: 160px;
    height: 11px;
    border-radius: 11px;
    margin: auto;
    background: #f1f1f1;
}

.water {
    width: 100%;
    height: 11px;
    border-radius: 11px;
    background: #bfe5ff;
}

.love {
    width: 100%;
    height: 11px;
    border-radius: 11px;
    background: #fac9e7;
}

.light {
    width: 100%;
    height: 11px;
    border-radius: 11px;
    background: #f8d975;
}

.hide {
    display: none;
}

#start-screen img {
    height: 100px;
}

#game {
    max-width: 50%;
}

#fail-alert {
    max-width: 50%;
    margin-top: -5%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 2;
}